*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#calc{
    min-width: 400px;
    padding: 0.5em;
    background-color: #c4c4c4;
    color: black;
    display: flex;
    flex-direction: column;
}

#calc h3{
    font-size: .8em;
    font-weight: bold;
    color: #3e3e3e;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 0.5em;
}

#operations{
    text-align: right;
}

#p_operation{
    color: #777;
    padding: .0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

#c_operation{
    min-height: 1.6em;
    font-size: 3em;
    font-weight: bolder;
    padding: .2em;
    overflow-wrap: break-word;
}

#btn_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 3px;

}

#btn_container button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#btn_container button:hover{
    background-color: #77777786;
    border-color: #999;
}

#btn_container .number{
    background-color: #f3f3f3;
}

#btn_container #equal_btn{
    grid-column: span 2;
    #8dbae0;
    background-color:  #8dbae0;
}
#btn_container #equal_btn:hover{
    grid-column: span 2;
    background-color: #75a5cb;
}