*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #b2795b; 
}

.container{
    display: block;
    margin: 50px auto;
    width: 500px;
    height: auto;
    background-color: #ebd5c0;
    border-radius: 10px;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.274);
}

.output_container{
    display: block;
    background-color: #fceddf;
    border-radius: 10px 10px 0px 0px;
    max-width: 500px;
    min-height: 190px;
    max-height: auto;
    word-break: break-all;
    word-wrap: break-word;

}

.output_container .p_operand{
    display: flex;
    justify-content: left;
    font-size: 25px;
    padding: 20px;

}

.output_container .c_operand{
    display: flex;
    justify-content: right;
    font-size: 80px;
    padding: 20px;
}


.grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 90px);
    row-gap: 6px;
    column-gap: 10px;
    margin: 40px 20px 40px 20px;
}

.grid_container .operator{
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #96643E;
    color: white;
    font-size: 25px;
}

.grid_container .operator:hover{
    background-color: #ab896f;
}

.grid_container button{
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #C48351;
    color: white;
    font-size: 25px;
}

.grid_container button:hover{
    background-color: #d3a079;
}

.grid_container .equal{
    grid-area: span 2;
}
.grid_container .point{
    grid-column: span 2;
}